<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold" th:href="@{/}">
            <i class="bi bi-buildings me-1"></i> Hotel Paraíso
        </a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#mainNav"
                aria-controls="mainNav" aria-expanded="false" aria-label="Toggle">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/tipos-habitacion}">Tipos Habitación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/habitaciones}">Habitaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/clientes}">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/empleados}">Empleados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/servicios}">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/reservas}">Reservas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/pagos}">Pagos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/facturas}">Facturas</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>
